.table {
  display: table;
  border-collapse: collapse;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  text-align: center;
}

.cell .orig {
  padding: .08em;
  font-size: 36pt;
  white-space: nowrap;
}

.side-padding {
  padding-left: 2pt;
  padding-right: 2pt;
  text-align: center;
}

.padding {
  border-top: 1.3px solid rgba(0, 127, 0, 0.4);
  padding-bottom: 1.2pt;
  padding-top: 1.2pt;
}

.trans {
  color: rgba(0, 127, 0, .7);
}

.hoverarea.min {
  border-top: none;
  /*transition: max-height .2s ease;*/
  max-height: 0pt;
  overflow: hidden;
}

.hoverarea {
  box-sizing: border-box;
  /*overflow: hidden;*/
  max-height: 0pt; /* must be same as */
  /*transition: max-height .2s ease;*/
}

.hoverarea.hasexpand:hover {
  transform: translateY(-9pt); /* must be same as .expand.height */
}

.hoverarea:hover .padding {
  background: rgba(0, 127, 0, .1);
}

.hoverarea .expand , .hoverarea .collapse {
  display: none;
}

.hoverarea:hover .expand, .hoverarea:hover .collapse {
  display: block;
}

.expand , .collapse {
  background: rgba(0, 127, 127, .05);
  height: 9pt; /*must be same as .hoverarea.hasexpand:hover.transform*/
  font-size: 8pt;
  line-height: 1;
}

.expand:hover , .collapse:hover {
  background: rgba(0, 127, 127, .2);
}
